body {
  background:#020617;
  color:white;
  font-family:Arial;
}

.hidden { display:none; }

.login, .panel {
  max-width:420px;
  margin:auto;
  padding:20px;
}

input, select, textarea, button {
  width:100%;
  margin:6px 0;
  padding:10px;
  border-radius:6px;
  border:none;
}

button {
  background:#22c55e;
  font-weight:bold;
  cursor:pointer;
}

li {
  background:#1e293b;
  padding:10px;
  margin-top:6px;
  border-radius:6px;
}
